include resource.jade
include json-schema.jade

extends ../api

block body
	.page-header
		small
		b Endpoint: &nbsp;&nbsp;
		= apiUrl
		a.pull-right.toggle-all(data-ref='.collapse-method')
			i.glyphicon.glyphicon-plus
			i.glyphicon.glyphicon-minus(style='display: none;')

	each mainResource in resources
		+resource(mainResource, 1)