extends layout

append menu
	h1 Resources
	hr
	if resources
		ul.nav.subnav
			each resource in resources
				li
					a(href='/api/reference/##{resource.uniqueId}')
						span=resource.displayName ? resource.displayName : resource.relativeUri
						if resource.isPrivate
							i.glyphicon.glyphicon-lock
	else
		label Could not find resources list.