extends layout

block body

	div!=contents

	for blogentry in collections.blogs
		.panel.panel-default(class=blogentry.private?'panel-warning':'')
			.panel-heading
				h3.panel-title
					unless blogentry.public
						span.glyphicon.glyphicon-lock
					=blogentry.title
			.panel-body!=blogentry.contents
			.panel-footer
				a(href="#top").btn Back to top